.hide {
    visibility: collapse;
}
#admin-body{
    background: black;
}
.page-content{
    padding: 0 30px;
}
.page-title{
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 600;
}
.section-title{
    margin-bottom: 15px;
}
.settings-section-title{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: 32px;
}
.responsive-nav-grid{
    display: grid;
    margin: 0.5rem;
}
@media (min-width: 992px) {
    .push-right-lg{
        margin-left: auto !important;
    }
}
.center{
    align-items: center;
}
.card-content{
    margin: 0;
    text-align: center;
}
.card-content-block{
    margin: 0;
    text-align: left;
}
.card-header{
    text-align: center;
    font-size: 23px;
}
.card-block{
  padding-bottom: 0;
}

#dashboardButton{
    cursor: pointer;
}
.sidebar-selected{
    background-color: #007bff !important;
    color: white !important;
}
.sidebar-selected:hover{
    background-color: #0271e9 !important;
    color: white !important;
}
#settingsButton{
    cursor: pointer;
}
.settings-input{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}
.settings-input:focus{
    box-shadow: 0 0 0 0 !important;
    border-color: #73AFCA;
    color: #507A8E;
}
.helperText{
    color: #73AFCA;
}
.helperText a{
    color: #507A8E;
}
#logoutButton{
    margin: 5px 0;
}
#timerangeDropdown{
    color: white;
}
#companyDropdown{
    color: white;
}
#sinceTimeRange{
    margin: 0 !important;
    font-style: italic;
    color: lightgrey;
}
#nameLabel{
    padding: 0.5rem 0.5rem;
}
#companyLabel{
    padding: 0.5rem 1rem;
}
#addPointButton{
    margin-top: 25px;
}


/* Main Branding CSS */
#zipInput{
  background: #212529;
  color: #ED008C;
  text-align: center;
  height: 48px;
  font-size: 26px;
  border: 1px solid #FFDD05;
}
#zipInput:focus{
  border: 0px;
}

.btn:focus{
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25) !important;
}

.a-on{
  background: transparent;
  color: #FFFFFF;
  border-color: #C70039;
}
.a-on:hover{
  color: #FF5733;
}
.a-off{
  background: transparent;
  color: #FFFFFF;
  border-color: #FF5733;
}
.a-off:hover{
  color: #C70039;
}
.t-on{
  background: transparent;
  color: #FFFFFF;
  border-color: #1DA1F2;
}
.t-on:hover{
  color: #1DB954;
}
.t-off{
  background: transparent;
  color: #FFFFFF;
  border-color: #1DB954;
}
.t-off:hover{
  color: #1DA1F2;
}
.c-on{
  background: transparent;
  color: #FFFFFF;
  border-color: #FFDD05;
}
.c-on:hover{
  color: #ED008C;
}
.c-off{
  background: transparent;
  color: #FFFFFF;
  border-color: #ED008C;
}
.c-off:hover{
  color: #FFDD05;
}

.arrest-card{
  border: 2px solid #FF5733;
}
.tweet-card{
  border: 2px solid #1DB954;
}
.covid-card{
  border: 2px solid #ED008C;
}

.tweet-title-color{
  color: #1DA1F2;
}
.tweet-sub-color{
  color: #1DB954;
}
.covid-title-color{
  color: #FFDD05;
}
.covid-sub-color{
  color: #ED008C;
}
.arrest-title-color{
    color: #C70039;
}
.arrest-sub-color{
    color: #FF5733;
}

.primary-title-color{
    color: #C70039;
}
.secondary-title-color{
    color: #FF5733;
}
.tertiary-title-color{
    color: #900C3F;
}
.main-button-color{
    background-color: #73AFCA !important;
    color: white !important;
}
.main-button-color:hover{
    background-color: #507A8E !important;
}
.main-button-color:focus{
    box-shadow: 0 0 0 0 !important;
}

body{
  background-color: #000000 !important;
}

.card{
  background-color: #1C1C1E;
}
.card-header{
  background-color: #3A3A3C;
}
.bg-dark{
  background-color: #1C1C1E !important;
}

.site-btn{
  color: #C70039;
  border-color: #C70039;
}
.site-btn:hover{
  color: #FF5733;
  border-color: #FF5733;
}

.site-spinner{
  vertical-align: initial;
}

.mapboxgl-popup-content{
  text-align: center;
  min-width: 150px;
  padding: 20px !important;
}
.mapboxgl-popup-content p{
  margin: 0px !important;
}
